/**
 * Demo Styles
 */


 .alert {
	width: 100%;
 }

 .alert-success {
 	color: #3c763d;
 	background-color: rgba(255,0,0,0.5);
 	border-color: #d6e9c6;
 }

 .main-wrapper {
 	margin-top: 60px;
 }

 .navbar {
 	margin-bottom: 0;
 }

 html {
 	height: 100%;
 	box-sizing: border-box;
 }

 *,
 *:before,
 *:after {
 	box-sizing: inherit;
 }

 body {
 	position: relative;
 	margin: 0;
 	/*padding-bottom: 6rem;*/
 	min-height: 100%;
 	font-family: "Helvetica Neue", Arial, sans-serif;
 }

 .footer {
 	position: absolute;
 	right: 0;
 	bottom: 0;
 	left: 0;
 	padding: 0.5rem;
 	background-color: #888;
 	color: #fff;
 	text-align: center;
 }